:root{
    --color1:#253361;
    --color2:#0d1b4c;
    
}
  .footer-color { 
    background-color: var(--color1);
}
.bfooter-color { 
    background: var(--color2);
}
  ul{
      list-style: none;
      display: inline-flex;
      padding:0px;
  }
 #social-icon li{
    text-align: center;
    font-size: 30px;
    margin: 5px;
    width: 47px;
    background: #07617d;
    border-radius: 30px;  
  }
  #social-icon li:hover{
    transform: rotate(360deg);
    transition: 2s;
   }

   .navbar-nav li{
      font-family: monospace;
      font-weight: bold;
      width: 125px;
      text-align: center;
      color: white;
      cursor: pointer;
      transition: 1s;
  }
  #navigation .navbar-nav li:hover{
      background:white;
      border-radius:3px;
      padding:1px;   
      transition: 2s;
  }
  #navigation .navbar-nav li a:hover{
    color: black;
  }
  #navigation .color{
    color: white;
  }
  #button .navbar-nav li:hover{
      background: var(--color2);
      border-radius:5px;
      color: white;
      padding:1px;   
      transition: 2s;
  }
   #button .navbar-nav li a:hover{
    color: white;
   }
  #about .progress-bar{
    animation-name: progress-bar;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    border-radius:0px 10px 10px 0px;
   background: green;
    color: whitesmoke;
    font-weight: bold;
  }
  @keyframes progress-bar{
      from{

      }
      to{
          width: 100%;
      }
  }
#h-profession{
    font-size: 15px;
    font-weight: 400;
    border-left:5px solid red;
    padding-left: 5px;
}
#h-des, #a-des, #p-des{
    text-align: justify;
}
#h-social{
    border-top: 4px solid #155263;
    border-radius:10px;
    width: 180px;
    padding-top: 4px;
}
#a-tagline{
    color: gray;
}
#fixedicons .css-fixedicons{
  width: 50px;
  background: var(--color2);
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  position: fixed;
  right: 10px;
  bottom: -5px;
  border: 2px solid white;
  box-sizing: border-box;
}
#fixedicons .css-fixedicons:hover{
   background:darkred;
   animation-name: fixed-icon-animate;
   animation-duration: 1s;
}
@keyframes fixed-icon-animate{
  from{

  }
  to{
    width: 55px;
    height: 55px;
    transform: rotate(360deg);
  }
}